body{
    margin: 0;
    border: 0;
    padding: 0;
}

textarea{
    resize: none;
}

.flex{
    border: 0;
    padding: 0;

    display: flex;
    align-content: center;
    justify-content: center;
}

.flex-ltr{
    flex-direction: row;
}

.flex-ttb{
    flex-direction: column;
}

#header{
    height: 10vh;
}

#content{
    height: 90vh;
    width: 100%;
}

.w80{
    width: 80%;
}

.w20{
    width: 20%;
}

.h80{
    height: 80%;
}

.h20{
    height: 20%;
}
