@media screen and (max-width: 1250px){
    #editor{
        flex-direction: column;
    }

    #code{
        width: 100%;
    }
    
    #sidebar{
        width: 100.5%;
    }
}

html, body{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    padding: 0;
    height: 100%;

    background-color: #16161d;
}

textarea, input, button{
    border-color: #c0c0c0;
    border-radius: 5px;

    background-color: transparent;
    font-size: 2em;
    color: #deded0;
}

textarea{
    resize: none;
}

textarea:focus, input:focus, button:hover{
    border-color: #f97502;
}

button:hover{
    color: #f97502;
}

input:disabled, button:disabled{
    background-color: #101018;
    border-color: #808088;
    color: #50505a;
}

.flex{
    border: 0;
    padding: 0;

    display: flex;
    align-content: stretch;
    justify-content: space-between;
}

.flex-ltr{
    flex-direction: row;
}

.flex-ttb{
    flex-direction: column;
}

#header{
    height: 6vh;
}

#content{
    height: 93vh;
    width: 100%;
}

#sidebar{
    height: 93.5vh;
}

#run{
    display: inline-flex;
    align-items: center;
}

.w100{
    width: 100%;
}

.w80{
    width: 80%;
}

.w20{
    width: 20%;
}

.h100{
    height: 100%;
}

.h80{
    height: 80%;
}

.h20{
    height: 20%;
}
